@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* general styling regardless of screen size */
* {
  margin: 0;
  padding: 0;
}

/* Styling for mobile device */
@media (max-width: 764px) {

  .navbar {
    background-color: #A2C1FF;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-bottom: 50px;
  }
  
  .logo {
    max-height: 100%;
    height: auto;
    max-width: 200px;
    padding: 10px;
  }

  .navdiv {
    display: flex;
    flex-direction: column;
  }

  .hamburger-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navdiv a, .chefchoice .navdiv a {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-family: "Nanum Pen Script", cursive;
    font-size: 25px;
    display: none;
  }

  .navdiv .open {
    display: flex;
  }

  .fa-arrow-down-short-wide.open {
    display: none;
  }

  .fa-arrow-down-short-wide.closed {
    color: white;
    font-size: 30px;
    padding-right: 10px;
  }

  .fa-x.open {
    display: none;
  }

  .fa-solid.fa-x.closed {
    color: white;
    font-size: 30px;
    padding-right: 10px;
    display: flex;
  }

  .navdiv a:hover {
    background-color: white;
    color: #A2C1FF;
  }

  .fa-arrow-down-short-wide.closed:hover, .fa-solid.fa-x.closed:hover {
    color: black;
  }
}

@media (min-width: 765px) {

  .hamburger-display i {
    display: none;
  }

  .navbar {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
  }

  .logo {
    max-height: 100%;
    height: auto;
    max-width: 200px;
    margin-left: 25px;
  }

  .navdiv {
    display: flex;
    margin-right: 25px;
  }

  .navdiv a, .chefchoice {
    text-decoration: none;
    color: black;
    font-family: "Nanum Pen Script", cursive;
    font-size: 25px;
    margin-left: 40px;
  }

  .navdiv a:hover, .chefchoice:hover {
    color: #A2C1FF;
  }
}
