.navcontain {
    display: flex;
    align-items: stretch;
    padding: 15px; 
    margin-bottom: 10px;
}

.navcontain i {
    font-size: 110px;
    width: 140px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A2C1FF;
    margin-right: 15px;
}

.text-content {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
    font-family: "Nanum Pen Script", cursive;
}

.text-content h2 a {
    text-decoration: none;
    color: black;
}

.text-content h2 a:hover {
    color: #A2C1FF;
}

.text-content h2 {
    text-align: center;
    font-size: 30px;
    margin: 0px;
}

.text-content p {
    font-size: 25px;
    margin: 0px;
}