@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@media (max-width: 764px) {

    .thumbnail-image:hover {
        opacity: 50%;
    }

    .post-container {
        display: flex;
        width: 80vw;
        height: 30vw;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .post-container img {
        width: 30vw;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .description {
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    .blog-text-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .date, .description{
        font-family: "Nanum Pen Script", cursive;
        margin: 0px;
        color: black;
    }
    
    .blog-text-container a {
        font-family: "Nanum Pen Script", cursive;
        text-decoration: none;
        text-align: center;
        color: black;
        margin: 0;
        padding: 0;
    }
    
    .blog-text-container a:hover {
        text-decoration: underline;
    }
    
    .cont:hover {
        color: #A2C1FF;
    }
}

@media (min-width: 765px) {

    .thumbnail-image:hover {
        opacity: 50%;
    }

    .post-container {
        display: flex;
        width: 80vw;
        height: 30vw;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .post-container img {
        width: 30vw;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .description {
        width: 80%;
        text-align: center;
    }

    .blog-text-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: large;
    }
    
    .date, .description{
        font-family: "Nanum Pen Script", cursive;
        color: black;
    }
    
    .blog-text-container a {
        font-family: "Nanum Pen Script", cursive;
        text-decoration: none;
        color: black;
    }
    
    .blog-text-container a:hover {
        text-decoration: underline;
    }
    
    .cont:hover {
        color: #A2C1FF;
    }
}



