@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@media (max-width: 764px) {
    .favblogpost a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        margin: 1vw;
    }
    
    .favblogpost a img {
        width: 40vw;
        height: 30vw;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .text-contain-fav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 30vw;
        background-color: #A2C1FF;
        opacity: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        text-align: center;
    }
    
    .favblogpost a h2 {
        font-family: "Nanum Pen Script", cursive;
        color: white;
        font-size: calc();
    }
    
    .favblogpost a:hover {
        opacity: 50%;
    }
    
    .favblogpost a:hover .text-contain-fav {
        visibility: visible;
    }
}

@media (min-width: 765px) {
    .favblogpost a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 1vw;
    }
    
    .favblogpost a img {
        width: 20vw;
        height: 30vw;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .text-contain-fav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 30vw;
        background-color: #A2C1FF;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        text-align: center;
        opacity: 80%;
    }
    
    .favblogpost a h2 {
        font-family: "Nanum Pen Script", cursive;
        color: white;
        font-size: calc();
    }
    
    .favblogpost a:hover {
        opacity: 50%;
    }
    
    .favblogpost a:hover .text-contain-fav {
        visibility: visible;
    }
}

