@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.review-image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.review-container a {
    text-decoration: none;
    color: black;
}

.review-container a h1 {
    margin: 0;
}

.review-container h2 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 15px;
}

.review-content {
    margin-bottom: 25px;
}

.review-container a h1, .continue {
    font-family: "Nanum Pen Script", cursive;
}

.review-container a h1:hover, .continue:hover {
    color: #A2C1FF;
}
