.recipe-post-page {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.recipe-post-page h1 {
    background-color: #A2C1FF;
    font-family: "Nanum Pen Script", cursive;
    color: white;
    font-size: 75px;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.recipe-intro-container {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; /* Ensure both the image and ingredients stretch to full height */
    height: 600px; /* Adjust the height of the container as needed */
    margin-bottom: 30px;
}

.recipe-intro-container img {
    object-fit: cover;
}

.ingredients-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.ingredients-container h2 {
    margin: 0;
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
    color: black;
    text-decoration: underline;
}

.ingredients-container ul {
    list-style: none;
    font-family: "Nanum Pen Script", cursive;
    font-size: 25px;
}

.instructions-container {
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
}

.instructions-container ol li {
    padding-bottom: 30px;
}

.cook-highlights {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; 
    gap: 20px; 
    height: 700px;
}

.cook-highlights img {
    width: 30%;
    height: 60%;
    object-fit: cover;
}