@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
  margin-left: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}

.navdiv {
  display: flex;
  gap: 30px;
}

.chefchoice {
  margin-right: 50px;
}

.navdiv a, .chefchoice {
  text-decoration: none;
  color: black;
  font-family: "Nanum Pen Script", cursive;
  font-size: 25px;
}

.navdiv a:hover, .chefchoice:hover {
  color: #A2C1FF;
}