footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer img {
    width: 150px;
    height: 50x;
    object-fit: contain;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #A2C1FF;
}

.fab:hover {
    color: black;
}