@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.recipe-card a img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    padding: 20px;
}

.recipe-card a {
    text-decoration: none;
    color: black;
}

.recipe-card h2 {
    margin: 0px;
    padding-left: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 40px;
}

.cuisine {
    margin-bottom: 0px;
    margin-top: -15px;
    padding-left: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    color: #989797;
}

.time {
    padding-left: 20px;
    color: #A2C1FF;
    font-family: "Nanum Pen Script", cursive;
    font-size: 30px;
}

.recipe-card {
    border: solid 1px #DDD;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.recipe-card:hover {
    opacity: 50%;
}